
@{
    ViewBag.Title = "New user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container slider-content">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
			<div class="search-form wow pulse" data-wow-delay="0.8s">
				<h2 style="color: black">Your additional information</h2>
				<h4 style="color: black">We would like to know some information about your lifestyle.</h4>
				
			</div>
		</div>
	</div>
</div>